{% extends 'base.html' %}

{% block title %}LAudio - Settings{% endblock %}

{% block content %}
<div id="popup"></div>

<div id="settings">
    <h1>Setttings</h1>

    {% if msg %}
        <div id="settingsmsg" title="Information">
            <p>{{ msg|safe }}</p>
        </div>
    {% endif %}
    
    <form method="post" action=".">
        <fieldset>
            <legend>Collection</legend>
            <a href="#" id="resetcoll">Reset Songs and Playlists</a>
            <a href="#" id="scancoll">Scan Collection</a>
            <table>
                {% for field in settingsForm %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    {% if field.errors %}
                        <td class="errors">{{ field.errors }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <td><input class="submit" type="submit" value="save" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
    
    <div id="users">
        <fieldset>
            <legend>Users</legend>
            <a href="{{ URL_PREFIX }}settings/newuser/">Add a new user</a>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Superuser</th>
                    <th>Active</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_superuser }}</td>
                    <td>{{ user.is_active }}</td>
                    <td><a href="{{ URL_PREFIX }}settings/deleteuser/{{ user.id }}/">Delete</a></td>
                    <td><a href="{{ URL_PREFIX }}settings/edituser/{{ user.id }}/">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>
    </div>
</div>
{% endblock %}
