{% extends 'base.html' %}

{% block title %}LAudio - About{% endblock %}


{% block content %}
<div id="settings">
    <fieldset id="about">
    <legend>About</legend>
        <div id="about">
            <h2>About</h2>
            <p>Ever wanted to share your music over your network or the 
            Internet? Your iTunes shares dont work with your music player? 
            Ampache User Interface gives you headaches? Behold! We got 
            just what you needed: Some new software called Laudio will
            fix your issues.</p>
            
            <p>Instead of relying on Apple's meanwhile broken (Apple 
            encrypts its iTunes shares) DAAP standard,
            Laudio aims to deliver a standard solution based on the
             HTML5 standard. Laudio is completely written in Python and 
             Javasript and can be used from any fast enough and up to date Browser.</p>
        
            <p>Laudio supports Ogg Vorbis and Mp3 audio files, but in case of Vorbis
                only for the browsers which support it. Vorbis is being played using
                the HTML5 audio tag, Mp3 is being played by a flash plugin.</p>

            <h2>Download</h2>
            <p>We got a <a href="https://launchpad.net/~bernhard-posselt/+archive/laudio-ppa">PPA</a>
             for Maverick: Just type in</p>
            <p class="bash">
            $ sudo apt-add-repository ppa:bernhard-posselt/laudio-ppa<br />
            $ sudo apt-get update<br />
            $ sudo apt-get install laudio
            </p>

            <p>If you're feeling lucky, you can try our highly experimental 
            setup script, which provides installation for Arch Linux, Gentoo and Ubuntu.</p>
            <p>More Information is Available on the 
            <a href="https://github.com/Raydiation/Laudio#readme">Github</a> 
            page.</p>
            <h2>Recommended Browsers</h2>
            <ul>
                <li>Firefox 3.6 or newer</li>
                <li>Chrome 4 or newer</li>
                <li>Chromium 5 or newer</li>
            </ul>
            <h2>News</h2>
            <p>If you want to follow Laudio's developement a bit more 
            closely, subscript to our 
            <a href="http://identi.ca/group/laudio">identi.ca</a> page
            where we publish information about new releases and features.</p>
            <h2>Bugs</h2>
            <p>Found a bug? Report it <a href="http://github.com/Raydiation/Laudio/issues">on our Issues site</a> 
            on github.</p>
            
            <h2>Support</h2>
            <p>If you want to ask some questions please consider
            visiting <a href="http://laudio-player.org">our website</a> or our
            IRC channel #laudio on irc.freenode.net (just click on the 
            chat tab in the navigation above to join with your browser)</p>
            
            <p>You can also <a href="mailto:bernhard.posselt@gmx.at">send me an email</a>.</p>

            <h2>We use</h2>
            <p>We humbly thank the creators of such great software such as</p>
            <ul>
                <li><a href="http://www.oxygen-icons.org/">Oxygen</a>, 
                    <a href="http://amarok.kde.org/">Amarok</a>: Icons</li>
                <li><a href="http://www.schillmania.com/projects/soundmanager2/">SoundManager</a>: Audio Playback</li>
                <li><a href="http://www.djangoproject.com/">Django</a>: Web Framework</li>
                <li><a href="http://jquery.com/">jQuery</a>: Javascript Framework</li>
            </ul>            

        </div>
    </fieldset>
</div>
{% endblock %}
