{% extends 'base.html' %}

{% block title %}LAudio - Local Music Collection{% endblock %}

{% block search %}
    {% include "inc/search.html" %}
{% endblock %}

{% block content %}
<div id="contentHeader">

    <div id="sidebarHeader" {% if hide_sidebar %}style="display: none;"{% endif %}>Information</div>
    <div id="playlistHeader" {% if hide_playlist %}style="display: none;"{% endif %}><span id="playlistName">Playlist</span>
        
        <ul class="headerMenu" id="playlistSongMenu">
            {% if user.is_authenticated %}
                <li><a href="#" id="savePlaylist" onclick="return false;">Save</a></li>
                <li><a href="#" id="openPlaylist" onclick="return false;">Lists</a></li>
            {% endif %}
        </ul>
        <ul class="headerMenu" id="playlistPlaylistMenu">
            <li><a href="#" id="cancelPlaylist" onclick="return false;">Cancel</a></li>
        </ul>
    </div>

    <div class="header">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th class="collNr"><a href="#">Nr</a></th>
                <th class="collTitle"><a href="#">Title</a></th>
                <th class="collArtist"><a href="#">Artist</a></th>
                <th class="collAlbum"><a href="#">Album</a></th>
                <th class="collGenre"><a href="#">Genre</a></th>
            </tr>
        </table>
    </div>
</div>



<div id="sidebar" {% if hide_sidebar %}style="display: none;"{% endif %}>
    <div id="currentSong">
        <p id="cover"><img src="{% url laudio.views.laudio_index %}media/style/img/nocover.png" alt="cover" title="no cover"/></p>
        <h1>Now Playing</h1>
        <table cellpadding="0" cellspacing="0">
            <tr id="title" class="line1">
                <th>Title</th>
                <td></td>
            </tr>
            <tr id="length" class="line2">
                <th>Length</th>
                <td></td>
            </tr>
            <tr id="tracknr" class="line1">
                <th>Tracknr.</th>
                <td></td>
            </tr>
            <tr id="artist" class="line2">
                <th>Artist</th>
                <td></td>
            </tr>
            <tr id="album" class="line1">
                <th>Album</th>
                <td></td>
            </tr>
            <tr id="date" class="line2">
                <th>Date</th>
                <td></td>
            </tr>    
            <tr id="genre" class="line1">
                <th>Genre</th>
                <td></td>
            </tr>
            <tr id="codec" class="line2">
                <th>Codec</th>
                <td></td>
            </tr>
            <tr id="bitrate" class="line1">
                <th>Bitrate</th>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div id="playlist" {% if hide_playlist%}style="display: none;"{% endif %}>
    <table id="playlistList" class="playlistAction" cellpadding="0" cellspacing="0">
        <tr>
            <td><a href="#" onclick="return false;">Playlist</a></td>
            <td><a href="#" onclick="return false;">Delete</a></td>
            <td><a href="#" onclick="return false;">Rename</a></td>
        </tr>    
        <tr>
            <td><a href="#" onclick="return false;">Playlist</a></td>
            <td><a href="#" onclick="return false;">Delete</a></td>
            <td><a href="#" onclick="return false;">Rename</a></td>
        </tr>    
        <tr>
            <td><a href="#" onclick="return false;">Playlist</a></td>
            <td><a href="#" onclick="return false;">Delete</a></td>
            <td><a href="#" onclick="return false;">Rename</a></td>
        </tr>    
    </table>
    
    <table id="playlistConfirm" class="playlistAction" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th colspan="2">Are you sure?</th>
            </tr>
            <tr>
                <td>
                    <a href="#" id="confirmNo" onclick="return false;">No</a>
                </td>
                <td>
                    <a href="#" id="confirmYes" onclick="return false;">Yes</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table id="playlistRename" class="playlistAction" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th colspan="2">Enter a name</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="playlistName" maxlength="249" />
                </td>
                <td>
                    <a href="#" id="confirmYes" onclick="return false;">Save</a>
                </td>
        </tbody>
    </table>
    
    <table id="playlistSongs" cellpadding="0" cellspacing="0">
        <tbody>
        
        </tbody>
    </table>    
    
</div>

<div id="library">
    <div style="display: none;" class="loading"></div>
    <table id="collection" cellpadding="0" cellspacing="0">   
        <thead style="display: none;">
            <tr>
                <th>Nr</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div id="hint">To load your music simply enter something in the search
            field or hit the "Artists" section in the navigation. You can change this behaviour 
            by setting the "Show all songs on startup" 
            in the settings menu.
            </div></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block footer %}
    <div id="footer" style="clear: both;">
        {% include "inc/controls.html" %}
    </div>
{% endblock %}
