#settings {
    width: 1180px;
    margin: auto;
}

#popup {
    width: 800px;
    height: 600px;
    border: 1px solid #666666;
    background-color: #ccc;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -400px;
    display: none;
}


#settings h1 {
    font-size: 14pt;
    margin-bottom: 20px;
}

#settings form table {
    width: 1100px;
    margin: auto;
}

#settings form fieldset {
    margin: 20px 0;
    padding: 5px;
    padding-bottom: 15px;
}

#settings form th {
    background-color: #ccc;
    font-weight: normal;
    text-align: right;
    width: 270px;
    padding: 5px;
    padding-right: 20px;
}

#settings form input {
    width: 400px;
    border: 1px solid #aaa;
    background-color: #fafafa;
    height: 18px;
    padding: 2px;
}

#settings form input.submit {
    padding: 0;
    height: 24px;
}

#settings form input:focus {
    background-color: #fefefe;
}

#settings form td {
    background-color: #eaeaea;
    padding-left: 20px;
}

#settings form p {
    text-align: center;
}

td.errors {
    background-color: #D24A4A !important;
}

.errorlist li {
    list-style-type: none;
    color: #fefefe;
    background-color: #D24A4A;    
}

#settings #users th {
    background-color: #ccc;
    font-weight: normal;
    text-align: center;
    width: 280px;
    padding: 5px;
}
