Package: laudio
Version: 0.4-beta
Section: web
Priority: optional
Architecture: all
Depends: python, python-lxml, python-django, python-mutagen, apache2, sqlite3, libapache2-mod-wsgi, python-pysqlite2, ffmpeg
Maintainer: Laurent Luce <laurent@tomnica.com>
Description: An HTML5 musicplayer written in Python and Django
 Laudio is an HTML5 Music Player which can be accessed from anyone with a webbrowser. You set up Laudio on your machine with the music collection, then add your directory and scan your music. If you like to, you can add useraccounts and restrict usage for registered users. Laudio is an alternative to the heavyweight Ampache application.

