#about {
    padding: 20px;
}


#about h2 {
    font-size: 12pt;
    margin-bottom: 5px;
}

#about p {
    margin-bottom: 15px;
}

#about ul {
    margin-left: 15px;
    margin-bottom: 15px;
}

#about a {
    color: #880000 !important;
    background-color: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

#about a:hover {
    box-shadow: 0 0 0!important;
    -moz-box-shadow: 0 0 0!important;
    -webkit-box-shadow: 0 0 0!important;
    text-decoration: underline;
}

.bash {
    border: 1px solid #777;
    background-color: #333;
    color: #fefefe;
    padding: 3px;
    border-left: 3px solid #777;
    font-family: monospace, sans-serif;
}
