/**********
 * Controls & Footer
 */
#footer {
    width: 100%;
    background-color: #ccc;
    background: -moz-linear-gradient(top, #ccc, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    border-top: 1px solid #aaa;
    height: 35px;
    bottom: 0;
    left: 0;
    left: 0;
    right: 0;
    top: auto;
    position: fixed;
    text-align: center;
    z-index: 1;
}

#footer img {
    width: 24px;
    height: 24px;
}

#footer ul  {
    height: 35px;
}

#footer canvas {
    background-color: #aaa;
}

#footer ul li {
    display: inline-block;
    line-height: 35px;
    padding: 6px;
    padding-bottom: 0;
}

#footer ul li:hover {
    background-color: #333;
}

#progressbar {
    width: 300px;
}

#progressbar:hover {
    background-color: transparent !important;
}



#volume {
    height: 25px;
    width: 85px;
    line-height: 25px;
}

#volume canvas {
}

#volume:hover {
    background-color: #ccc !important;
}

#footer #controls {
    width: 500px;
    margin: auto;
}

#extraControls {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 10px;
}


