/**********
 * Navigation
 */
#nav {
    width: 100%;
    background-color: #333;
    background: -moz-linear-gradient(top, #222, #333);
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    height: 30px;
    color: #fefefe;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    display: inline-block;
    float: left;
}

#nav ul li a {
    color: #fefefe;
    text-decoration: none;
    font-size: 12pt;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
}

#nav ul li a:hover {
    background-color: #ddd;
    background: -moz-linear-gradient(top, #ddd, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ccc));
    color: #000;
}

#nav .visible {
    color: #000;
    background-color: #ddd;
    background: -moz-linear-gradient(top, #eee, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
}


/**********
 * Search
 */




#alphab {
    position: absolute;
    top: 0px;
    right: 490px;
    min-height: 30px;
    z-index: 2;
    text-align: left;
}

#alphab ul {
    margin-left: 10px;
    list-style-type: none;
}

#alphab ul li {
    display: inline-block;
}

#alphab ul li a {
    color: #fefefe;
    text-decoration: none;
    font-size: 12pt;
    padding: 6px;
    line-height: 30px;
}

#alphab ul li a:hover {
    background-color: #EFEFEF;
    color: #333;
}

#characters {
    display: none;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 50%;
    margin-left: -417px;
    background-color: #333;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #aaa;
    border-top: 0;
    background-color: #333;
    background: -moz-linear-gradient(top, #333, #444);
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#444));
    -webkit-box-shadow: 0px 0px 2px #333333;
    -moz-box-shadow: 0px 0px 2px #333333;
    box-shadow: 0px 0px 2px #333333; 
}

#characters ul {
    list-style-type: none;
    width: 100%;
}

#characters ul li {
    display: inline-block;
}

#characters ul li a {
    color: #fefefe;
    text-decoration: none;
    font-size: 12pt;
    padding: 6px;
    line-height: 30px;
}

#characters ul li a:hover {
    background-color: #EFEFEF;
    color: #333;
}

#search {
    position: absolute;
    top: 0px;
    right: 70px;
    min-height: 30px;
    z-index: 2;
    text-align: left;
    width: 370px;
}

#search table {
    width: 376px;
}

#search th {
    width: 80px;
    padding-right: 10px;
    color: #fefefe;
    font-weight: normal;
    text-align: right;
}

#search td {
    width: 280px;
}

#search input {
    height: 22px;
    padding: 1px;
    width: 250px;
    border: 1px solid #555;
}

#search input.search {
    padding-left: 31px;
    width: 220px;
    border: 1px solid #555;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    background-position: 5px center;
}

#searchButtons {
    top: 2px;
    right: 0;
    position: absolute;
    width: 60px;
}


.button {
    height: 26px;
    padding: 1px;
}

#advSearch {
    display: none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 20px !important;
    border: 1px solid #aaa;
    border-top: 0;
    background-color: #333;
    background: -moz-linear-gradient(top, #333, #444);
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#444));
    -webkit-box-shadow: 0px 0px 2px #333333;
    -moz-box-shadow: 0px 0px 2px #333333;
    box-shadow: 0px 0px 2px #333333; 
}

/**********
 * Line Above Content
 * 
 * This displays the table headers of the library and the sidebar
 */
#contentHeader {
    width: 100%;
    top: 30px;
    height: 20px;
    position: fixed;
    background-color: #ccc;
    background: -moz-linear-gradient(top, #ccc, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    z-index: 1;
    border-top: 1px solid #aaa;
}

#contentHeader .header {
    overflow: auto;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

#contentHeader table th a { 
    color: #333; 
    text-decoration: none; 
    background-image: url("img/nosort.gif");
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    display: block;
    height: 18px;
    padding-top: 2px;
}

#contentHeader a.sortup {
    background-image: url("img/asc.gif");
}

#contentHeader a.sortdown {
    background-image: url("img/desc.gif");
}
