

#settings {
    width: 1180px;
    margin: auto;
    margin-bottom: 40px;
}

.required {
    color: #cc0000;
    font-size: 0.9em;
}

#popup {
    margin: 0 10px;
    padding: 10px 5px;
    padding-bottom: 15px;
    background: -moz-linear-gradient(top, #ccc, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border: 1px solid #aaa;
    border-top: 0;
    -moz-box-shadow: inset 0px 1px 1px #bbb;
    -webkit-box-shadow: inset 0px 1px 1px #bbb;
    box-shadow: inset 0px 1px 1px #bbb;
    display: none;
}

#popup p {
    text-align: center;
}

.small_loading {
    background-image: url("img/loading.gif") !important;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-color: transparent;
    width: 100%;
    height: 150px;
    display:none;
}

.small_loading p {
    text-align: center;
    padding-top: 80px;
}

.percentage {
    width: 300px;
    height: 24px;
    text-align: center;
    margin: auto;
    border: 1px solid #ccc;
    padding: 0 !important;
    margin-top: 10px;
}

#settings h1 {
    font-size: 2em;
    margin: 20px 0;
}

#settings h2 {
    font-size: 1.6em;
    margin: 20px 0;
}

#settings form table {
    width: 1100px;
    margin: auto;
}


#settings fieldset {
    margin: 20px 0 0px 0;
    padding: 10px 5px;
    padding-bottom: 15px;
    background: -moz-linear-gradient(top, #fafafa, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #bdbdbd;
}

#settings fieldset a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    padding: 15px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-right: 1px solid #ccc;
}

#resetcoll {
    background-image: url("img/reset.png");
}

#scancoll {
    background-image: url("img/scan.png");
}

#adduser {
    background-image: url("img/add_user.png");
}

.edituser {
    background-image: url("img/edit_user.png");
}

.deleteuser {
    background-image: url("img/delete_user.png");
}

.superuser {
    background-image: url("img/superuser.png");
}

.user {
    background-image: url("img/user.png");
}

.activeuser {
    background-image: url("img/active.png");
}

.closeduser {
    background-image: url("img/account_closed.png");
}

#settings fieldset a:hover {
    -moz-box-shadow: inset 0px 1px 2px #ccc;
    -webkit-box-shadow: inset 0px 1px 2px #ccc;
    box-shadow: inset 0px 1px 2px #ccc;
}

#settings form {
    margin-bottom: 40px;
}

#settings form th {
    font-weight: normal;
    text-align: justify;
    width: 270px;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
}

#settings #utils {
    margin: 20px 0 30px 0;
    padding: 5px;
    padding-bottom: 15px;
    background: -moz-linear-gradient(top, #fafafa, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #ccc;
}

#settings form th .help_text {
    font-size: 8pt;
    text-align: left;
}

#settings form input {
    width: 400px;
    border: 1px solid #aaa;
    background-color: #fafafa;
    height: 18px;
    padding: 2px;
}

#settings form input.submit {
    padding: 0;
    height: 24px;
}

#settings form input:focus {
    background-color: #fefefe;
}

#settings form td {
    padding: 10px;
    padding-left: 20px;
}

#settings form p {
    text-align: center;
}

.submit {
    width: 200px !important;
}

td.errors {
    background-color: #D24A4A !important;
}

.errorlist li {
    list-style-type: none;
    color: #fefefe;
    background-color: #D24A4A;
    font-size: 1em; 
}

#settings #users th {
    background-color: #ccc;
    font-weight: normal;
    text-align: center;
    width: 280px;
    padding: 5px;
}
