/**********
 * Sidebar
 */
#contentHeader #sidebarHeader {
    min-width: 252px; 
    float: left;
    text-align: center;
    color: #333;
    font-weight: bold;
    line-height: 20px;
    border-bottom: 1px solid #aaa;
}
 
#sidebar {
    min-width: 249px;
    height: 100%;
    float: left;
    padding-right: 3px;
    background-color: #ccc;
    background: -moz-linear-gradient(top, #ccc, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    border-right: 1px solid #aaa;
    overflow: hidden;
    overflow-y: auto;
}
#sidebar hr {
    margin: 5px 0;
}

#sidebar p {
    color: #444;
    font-size: 10pt;
}

#sidebar #currentSong {
    width: 246px;
    margin: auto;
    border-right: 1px solid #aaa;
    height: 100%;
}

#sidebar #cover img {
    height: 246px;
    width: 246px;
    border-bottom: 1px solid #aaa;
}

#sidebar h1 {
    background-color: #ddd;
    text-align: center;
    font-size: 12pt;
    border-top: 1px solid #aaa;
    padding: 5px;
}

#sidebar table {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#sidebar table th {
    text-align: right;
    width: 70px;
    padding-right: 5px;
    border-right: 1px solid #aaa;
}

#sidebar table td {
    padding-left: 5px;
}
