/**
 * Include other stylesheets
 */
@import url("nav.css") all;
@import url("content.css") all;
@import url("sidebar.css") all;
@import url("playlist.css") all;
@import url("footer.css") all;
@import url("settings.css") all;
@import url("about.css") all;

/**
 * Basic configuration
 */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10pt;
}

html, body {
    height: 100%;
}

#site {
    min-height: 100%;
    height: 100%;
}
