{% extends 'base_settings.html' %}

{% block title %}LAudio - About{% endblock %}


{% block content %}
<div id="settings">
    <fieldset id="about">
    <legend>About</legend>
        <div id="about">
            <h2>About</h2>
            <p>Ever wanted to share your music over your network or the 
            Internet? Your iTunes shares dont work with your music player? 
            Ampache User Interface gives you headaches? Behold! We got 
            just what you needed: Some new software called Laudio will
            fix your issues.</p>
            
            <p>Instead of relying on Apple's meanwhile broken (Apple 
            encrypts its iTunes shares) DAAP standard,
            Laudio aims to deliver a standard solution based on the
             HTML5 standard. Laudio is completely written in Python and 
             Javasript and can be used from any fast enough and up to date Browser.</p>
        
            <p>Laudio supports Ogg Vorbis and Mp3 audio files, though in 
            case of Mp3 it depends on the Browser you use. If you want 
            still want to play your Mp3s in Firefox, you can set up a
            user account and enable transcoding: Laudio will convert 
            every Mp3 you want to listen to into an Ogg Vorbis file and 
            play it in your Browser.</p>

            <h2>Recommended Browsers</h2>
            <ul>
                <li>Firefox 3.6 or newer</li>
                <li>Chrome 4 or newer</li>
                <li>Chromium 5 or newer</li>
            </ul>

            <h2>Bugs</h2>
            <p>Found a bug? Report it <a href="http://github.com/Raydiation/Laudio/issues">on our Issues site</a> 
            on github.</p>
            
            <h2>Support</h2>
            <p>If you want to ask some questions please consider
            visiting <a href="http://laudio-player.org">our website</a> or our
            IRC channel #laudio on irc.freenode.net</p>
            
            <p>You can also <a href="mailto:bernhard.posselt@gmx.at">send me an email</a>.</p>

            <h2>We thank</h2>
            <p>We use <a href="http://www.oxygen-icons.org/">Oxygen</a> and 
            <a href="http://amarok.kde.org/">Amarok</a> Icons, cheers :D</p>
        </div>
    </fieldset>
</div>
{% endblock %}
