<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="urlprefix" content="{{ URL_PREFIX }}" />
        <link rel="stylesheet" href="{{ URL_PREFIX }}media/style/style.css" type="text/css" media="all" charset="utf-8" />
        <script src="{{ URL_PREFIX }}media/js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        {% block script%}{% endblock %}
        <link rel="icon" type="image/png" href="{{ URL_PREFIX }}media/style/img/favicon.png" />
    </head>

    <body>
    <div id="site">
    
        <div id="nav">
            <ul>
                <li><a href="{{ URL_PREFIX }}">Collection</a></li>
                <li><a href="{{ URL_PREFIX }}playlist">Playlist</a></li>
                <li><a href="{{ URL_PREFIX }}settings">Settings</a></li>
                {% if LOGGED_IN %}
                    <li><a href="{{ URL_PREFIX }}profile">Profile</a></li>
                    <li><a href="{{ URL_PREFIX }}logout">Logout</a></li>
                {% else %}
                    <li><a href="{{ URL_PREFIX }}login">Login</a></li>
                {% endif %}
                <li><a href="{{ URL_PREFIX }}about">About</a></li>
            </ul>
        </div>

        {% block search %}{% endblock %}
            
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        
        
        <div id="footer" style="clear: both;">
            {% block footer %}{% endblock %}
        </div>     
    </div>
    </body>
</html>
