{% extends 'base.html' %}

{% block title %}LAudio - Local Music Collection{% endblock %}

{% block script %}
    <script src="{{ URL_PREFIX }}media/js/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ URL_PREFIX }}media/js/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ URL_PREFIX }}media/js/library.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block search %}
    {% include "inc/search.html" %}
{% endblock %}

{% block content %}
<div id="contentHeader">
    <div class="spacer">Information</div>
    <div class="header">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th class="collNr"><a href="#">Nr</a></th>
                <th class="collTitle"><a href="#">Title</a></th>
                <th class="collArtist"><a href="#">Artist</a></th>
                <th class="collAlbum"><a href="#">Album</a></th>
                <th class="collGenre"><a href="#">Genre</a></th>
            </tr>
        </table>
    </div>
</div>



<div id="sidebar">
    <div id="currentSong">
        <p id="cover"><img src="{{ URL_PREFIX }}media/style/img/nocover.png" alt="cover" title="no cover"/></p>
        <h1>Now Playing</h1>
        <table cellpadding="0" cellspacing="0">
            <tr class="line1">
                <th>Title</th>
                <td></td>
            </tr>
            <tr class="line2">
                <th>Length</th>
                <td></td>
            </tr>
            <tr class="line1">
                <th>Tracknr.</th>
                <td></td>
            </tr>
            <tr class="line2">
                <th>Artist</th>
                <td></td>
            </tr>
            <tr class="line1">
                <th>Album</th>
                <td></td>
            </tr>
            <tr class="line2">
                <th>Date</th>
                <td></td>
            </tr>    
            <tr class="line1">
                <th>Genre</th>
                <td></td>
            </tr>
            <tr class="line2">
                <th>Codec</th>
                <td></td>
            </tr>
            <tr class="line1">
                <th>Bitrate</th>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div id="library">
    <div style="display: none;" class="loading"></div>
    <audio id="player" src="{{ URL_PREFIX }}media/audio/{{ firstsong }}">
        Your browser does not support the audio element.
    </audio>
    <table id="collection" cellpadding="0" cellspacing="0">   
        <thead style="display: none;">
            <tr>
                <th>Nr</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock %}

{% block footer %}
    {% include "inc/controls.html" %}
{% endblock %}
