{% extends 'base.html' %}

{% block title %}LAudio - Local Music Collection{% endblock %}

{% block controls %}
<li onclick="playSong()" class="controls"><a id="playButton" href="#">Play</a>
</li>
<li onclick="nextSong()" class="controls"><a href="#">Next</a></li>
<li onclick="prevSong()" class="controls"><a href="#">Previous</a></li>
{% endblock %}

{% block content %}
       <span id="songId">row1</span>
       <audio id="player" src="/laudio/media/audio/{{firstsong|escape}}"
              controls="controls"></audio>

       <div class="collectionHeader">
            <ul>
                <li><a href="#" id="toggleCollection">Collection: </a></li>
                <li><a id="showArtists" href="#">Artists</a></li>
                <li><a id="showSearch" href="#">Advanced Search</a></li>
            </ul>
            <span id="simplesearch">
                <input type="text" id="simplesearchfield" name="simplesearch"
                value="type keyword and hit enter"
                onclick="if(this.value == 'type keyword and hit enter')this.value='';" 
                onblur="if(this.value=='') this.value='type keyword and hit enter';" />
            </span>
        </div>

        <div class="collectionHeader" id="artistList">
            <ul>
                <li><a id="wholeColl" href="#">All</a></li>
                {% for i in letters %}
                        <li><a class="letters" href="#">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="searchForm">
            <form action="#" method="post">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Genre</th>
                        <th>Search</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="advSearchTitle" /></td>
                        <td><input type="text" id="advSearchArtist" /></td>
                        <td><input type="text" id="advSearchAlbum" /></td>
                        <td><input type="text" id="advSearchGenre" /></td>
                        <td><input type="button" value="search" id="advSearchSubmit" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="loading">Loading...</div>

        <table id="collection" cellspacing="0"></table>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
    // register some handlers on the audio element
    // TODO: maybe this can be included to in the jquery function with jquery
    // code
    var audio = document.getElementById("player");
    var nextSongFunc = function() { nextSong(); }
    var updatePlayPauseFunc = function() { updatePlayPause(); }
    audio.addEventListener("ended", nextSongFunc, true);
    audio.addEventListener("playing", updatePlayPauseFunc, true);
    audio.addEventListener("pause", updatePlayPauseFunc, true);

    /**
     * This code is executed on site ready
     */
    $(function(){
        // often used ids and classes
        var $col = $('#collection');
        var $loading = $('.loading');

        /**
         * shows the artist list
         */
        $('#showArtists').click(function(){
            $('#artistList').slideToggle();
        });

        /**
         * shows the advanced search
         */
        $('#showSearch').click(function(){
            $('#searchForm').slideToggle();
        });

        /**
         * toggles collection
         */
        $('#toggleCollection').click(function() {
            $col.slideToggle();
        });

        /**
         * loads the artist according to the letter which was clicked
         */
        $('.letters').click(function() {
            $col.fadeOut('fast');
            $loading.fadeIn("slow"); 
            var content_show = $(this).html();
            $('#songId').html("row0");
            $col.load("/laudio/artist/" + content_show + "/",
                      function () { 
                        $loading.fadeOut('fast'); 
                        $col.fadeIn('slow');
                      });
        });

        /**
         * loads the wohle collection into the player
         */
        $('#wholeColl').click(function() {
            $col.fadeOut('fast');
            $loading.fadeIn("slow");
            $col.load("/laudio/collection/",
                      function () {
                        $loading.fadeOut('fast');
                        $col.fadeIn('slow');
                      });
        });

        /**
         * searches if input in the search field is confirmed with enter
         */
        $('#simplesearchfield').keyup(function(e) {
            // keyCode 13 = ENTER
            if(e.which == 13) {
                $('#songId').html("row0");
                $col.fadeOut('fast');
                $loading.fadeIn("slow");
                var searchValue =
                    encodeURIComponent($('#simplesearchfield').attr("value"));
                $col.load("/laudio/searchall/" + searchValue + "/",
                          function () {
                            $loading.fadeOut('fast');
                            $col.fadeIn('slow');
                          });
            }
        });


        /**
         * loads the elements of the advanced
         */
        $('#advSearchSubmit').click(function() {
            $col.fadeOut('fast');
            $loading.fadeIn("slow");
            $('#songId').html("row0");
            var title = $('#advSearchTitle').attr("value");
            var artist = $('#advSearchArtist').attr("value");
            var album = $('#advSearchAlbum').attr("value");
            var genre = $('#advSearchGenre').attr("value");
            var url = "/laudio/advsearch/";
            // FIXME: maybe set this as data instead of url, wouldnt be much
            // shorter though
            var query = "?artist=" + artist + "&amp;title=" + title +
                        "&amp;genre=" + genre + "&amp;album=" + album;
            $col.load(url + query,
                      function () {
                        $loading.fadeOut('fast');
                        $col.fadeIn('slow');
                      });
        });

    });
</script>

{% endblock%}
