{% extends 'base.html' %}

{% block title %}LAudio - Local Music Collection Playlist Management{% endblock %}

{% block controls %}
<li onclick="nextSong()" class="controls mostright"><a href="#"><img
src="/laudio/media/style/img/next.png " width="24" height="24"
title="next" alt="next"/></a></li>
<li onclick="playSong()" class="controls"><a id="playButton"
href="#"><img src="/laudio/media/style/img/play.png " width="24" height="24"
title="play" alt="play"/></a>
</li>
<li onclick="prevSong()" class="controls"><a
href="#"><img src="/laudio/media/style/img/previous.png " width="24" height="24"
title="previous" alt="previous"/></a></li>
<li style="margin-right: 20px;" onclick="setShuffle()" class="controls"><a
href="#"><img id="shuffle" src="/laudio/media/style/img/shuffleoff.png" width="24" height="24"
title="shuffle" alt="shuffle" /></a></li>
<li onclick="setRepeat()" class="controls"><a
href="#"><img id="repeat" src="/laudio/media/style/img/repeatoff.png" width="24" height="24"
title="repeat" alt="repeat"/></a></li>
{% endblock %}

{% block audio %}
<audio id="player" src="/laudio/media/audio/{{firstsong|escape}}"
              controls="controls"></audio>
<span id="songId">row1</span>
<span id="playlistIdCounter">1</span>
{% endblock %}

{% block content %}
        <div class="collectionHeader">
            <ul>
                <li><a href="#" id="togglePlaylist">Playlist: </a></li>
                <li><a href="#" onclick="playPlaylist()">Play</a></li>
                <li><a href="#" onclick="clearPlaylist()">Clear</a></li>
                <li><a id="savePlaylist" href="#">Save</a></li>
                <li><a id="openPlaylist" href="#">Open</a></li>
                <li><a id="deletePlaylist" href="#">Delete</a></li>
                <li><a id="renamePlaylist" href="#">Rename</a></li>
            </ul>
        </div>

        <div class="collectionHeader" id="playlists"></div>

        <table id="playlist" cellspacing="0">
            <tr id="row0">
                <th class="collNr">Nr</th>
                <th class="collTitle">Title</th>
                <th class="collArtist">Artist</th>
                <th class="collAlbum">Album</th>
                <th class="collGenre">Genre</th>
                <th class="collDownload">Download</th>
                <th class="collUp">Up</th>
                <th class="collDown">Down</th>
                <th class="collRm">Del</th>
            </tr>
        </table>

       <div class="collectionHeader" style="border-top: 1px solid #afafaf;">
            <ul>
                <li><a href="#" id="toggleCollection">Collection: </a></li>
                <li><a id="showArtists" href="#">Artists</a></li>
                <li><a id="showSearch" href="#">Advanced Search</a></li>
            </ul>
            <span id="simplesearch">
                <input type="text" id="simplesearchfield" name="simplesearch" value="type keyword and hit enter" 
                onclick="if(this.value == 'type keyword and hit enter')this.value='';" 
                onblur="if(this.value == '') this.value='type keyword and hit enter';" />
            </span>
        </div>

        <div class="collectionHeader" id="artistList">
            <ul>
                <li><a id="wholeColl" href="#">All</a></li>
                {% for i in letters %}
                        <li><a class="letters" href="#">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="searchForm">
            <form action="#" method="post">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Genre</th>
                        <th>Search</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="advSearchTitle" /></td>
                        <td><input type="text" id="advSearchArtist" /></td>
                        <td><input type="text" id="advSearchAlbum" /></td>
                        <td><input type="text" id="advSearchGenre" /></td>
                        <td><input type="button" value="search" id="advSearchSubmit" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="loading">Loading...</div>

        <table id="collection" cellspacing="0"></table>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
    // register some handlers on the audio element
    // TODO: maybe this can be included to in the jquery function with jquery
    // code
    var audio = document.getElementById("player");
    audio.addEventListener("ended", checkShuffleRepeat, true);
    audio.addEventListener("playing", updatePlayPause, true);
    audio.addEventListener("pause", updatePlayPause, true);

    /**
     * This code is executed on site ready
     */
    $(function(){
        // often used ids and classes
        var $col = $('#collection');
        var $playlist = $('#playlist');
        var $loading = $('.loading');
        var $playlists = $('#playlists');
        var $audio = $('audio');

        /**
         * shows the artist list
         */
        $('#showArtists').click(function(){
            $('#artistList').slideToggle();
        });

        /**
         * shows the advanced search
         */
        $('#showSearch').click(function(){
            $('#searchForm').slideToggle();
        });

        /**
         * toggles collection
         */
        $('#toggleCollection').click(function() {
            $col.slideToggle();
        });

        /**
         * toggles playlist
         */
        $('#togglePlaylist').click(function() {
            $playlist.slideToggle();
        });

        /**
         * loads the artist according to the letter which was clicked
         */
        $('.letters').click(function() {
            $col.fadeOut('fast');
            $loading.fadeIn("slow");
            $('#songId').html("row0");
            var content_show = $(this).html();
            $col.load("/laudio/playlist/artist/" + content_show + "/",
                      function () { 
                        $loading.fadeOut('fast'); 
                        $col.fadeIn('slow');
                      });
        });

        /**
         * loads the wohle collection into the player
         */
        $('#wholeColl').click(function() {
            $col.fadeOut('fast');
            $loading.fadeIn("slow"); 
            $col.load("/laudio/playlist/collection/",
                      function () { 
                        $loading.fadeOut('fast'); 
                        $col.fadeIn('slow');
                      });
        });

        /**
         * searches if input in the search field is confirmed with enter
         */
        $('#simplesearchfield').keyup(function(e) {
            // keyCode 13 = ENTER
            if(e.which == 13) {
                $col.fadeOut('fast');
                $loading.fadeIn("slow");
                $('#songId').html("row0");
                var searchValue =
                    escape($('#simplesearchfield').attr("value"));
                $col.load("/laudio/playlist/searchall/" + searchValue + "/",
                          function () {
                            $loading.fadeOut('fast');
                            $col.fadeIn('slow');
                          });
            }
        });

        /**
         * loads the elements of the advanced
         */
        $('#advSearchSubmit').click(function() {
            $col.fadeOut('fast');
            $loading.fadeIn("slow");
            $('#songId').html("row0");
            var title = $('#advSearchTitle').attr("value");
            var artist = $('#advSearchArtist').attr("value");
            var album = $('#advSearchAlbum').attr("value");
            var genre = $('#advSearchGenre').attr("value");
            var url = "/laudio/playlist/advsearch/";
            // FIXME: maybe set this as data instead of url, wouldnt be much
            // shorter though
            var query = "?artist=" + artist + "&amp;title=" + title + "&amp;genre=" + genre + "&amp;album=" + album;
            $col.load(url + query,
                      function () { 
                        $loading.fadeOut('fast'); 
                        $col.fadeIn('slow');
                      });
        });

        /**
         * saves the current playlist
         * TODO: improve responses, e.g. that playlist are overwritten etc.
         */
        $('#savePlaylist').click(function(){
            var playlistName = window.prompt("Pick a name for the playlist",
                                             "playlist1");
            if(playlistName && playlistName !== null){
                var linkList = new Array();
                // TODO: maybe this can be done better with jquery dom than raw
                // dom lookups with children
                var rows =
                    document.getElementById('playlist').children[0].children;
                if(rows.length != 1){
                    for (var i=1; i<rows.length; i++){
                        var songLink = rows[i].title;
                        linkList.push(songLink);
                    }
                    var query = linkList.join(".");
                    var url = "/laudio/playlist/save/";
                    $.get(url, { playlistname: escape(playlistName), urls: query} );
                    $playlists.load("/laudio/playlist/list/", function(){
                            $playlists.fadeOut('fast');
                        });
                }
            }
        });

        /**
         * Loads a playlist into the playlist area
         */
        $('#openPlaylist').click(function(){
            var url = "/laudio/playlist/list/";
            $playlists.load(url, function(){
                $playlists.slideToggle();
                $('#playlists ul li a').click(function(){
                    var playlistName = $(this).html();
                    $inner = $('#playlist tbody');
                    $inner.fadeOut('fast');
                    url = "/laudio/playlist/open/" + escape(playlistName) + "/";
                    $inner.load(url,function () {
                        $inner.fadeIn('slow');
                    });
                    $playlists.slideToggle();
                });
            });
        });

        /**
         * Deletes a playlist
         */
        $('#deletePlaylist').click(function(){
            var url = "/laudio/playlist/list/";
            $playlists.load(url, function(){
                $playlists.slideToggle();
                $('#playlists ul li a').click(function(){
                    var playlistName = $(this).html();
                    var url = "/laudio/playlist/delete/" +
                                                    escape(playlistName) + "/";
                    $.get(url);
                    $playlists.load("/laudio/playlist/list/", function(){
                            $playlists.slideToggle();
                        });
                });
            });
        });

        /**
         * Renames a playlist
         */
        $('#renamePlaylist').click(function(){
            var url = "/laudio/playlist/list/";
            $playlists.load(url, function(){
                $playlists.slideToggle();
                $('#playlists ul li a').click(function(){
                    var playlistName = $(this).html();
                    var newPlaylistName = window.prompt("Enter the new Name for"
                                               + " the playlist", playlistName);
                    var url = "/laudio/playlist/rename/" +
                              escape(playlistName) + "/" +
                              escape(newPlaylistName) + "/";
                    $.get(url);
                    $playlists.load("/laudio/playlist/list/", function(){
                            $playlists.slideToggle();
                        });
                });
            });
        });

    });

</script>

{% endblock%}
