{% extends 'base.html' %}

{% block title %}LAudio - Local Music Collection Playlist Management{% endblock %}

{% block scripts %}
<script src="/laudio/media/js/playlist.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block controls %}
<li onclick="nextSong()" class="controls mostright"><span><img
src="/laudio/media/style/img/next.png " width="24" height="24"
title="next" alt="next"/></span></li>
<li onclick="playSong()" class="controls"><span id="playButton">
<img src="/laudio/media/style/img/play.png " width="24" height="24"
title="play" alt="play"/></span></li>
<li onclick="prevSong()" class="controls"><span><img src="/laudio/media/style/img/previous.png " width="24" height="24"
title="previous" alt="previous"/></span></li>
<li style="margin-right: 20px;" onclick="setShuffle()" class="controls"><span>
<img id="shuffle" src="/laudio/media/style/img/shuffleoff.png" width="24" height="24"
title="shuffle" alt="shuffle" /></span></li>
<li onclick="setRepeat()" class="controls"><span><img id="repeat" src="/laudio/media/style/img/repeatoff.png" width="24" height="24"
title="repeat" alt="repeat"/></span></li>
<li onclick="window.scroll(0,0);" class="controls" style="margin-right: 20px;">
<span><img id="repeat" src="/laudio/media/style/img/top.png" width="24" height="24"
title="top" alt="top"/></span></li>
<li><span id="nowPlaying" href="#">Playing: - </span></li>
{% endblock %}

{% block audio %}
<audio id="player" src="/laudio/media/audio/{{firstsong|escape}}"
              controls="controls"></audio>
<span id="songId">row1</span>
<span id="playlistIdCounter">1</span>
{% endblock %}

{% block content %}
        <div class="collectionHeader">
            <ul>
                <li><a href="#" id="togglePlaylist">Playlist: </a></li>
                <li><a href="#" onclick="playPlaylist()">Play</a></li>
                <li><a href="#" onclick="clearPlaylist()">Clear</a></li>
                <li><a id="savePlaylist" href="#">Save</a></li>
                <li><a id="openPlaylist" href="#">Open</a></li>
                <li><a id="deletePlaylist" href="#">Delete</a></li>
                <li><a id="renamePlaylist" href="#">Rename</a></li>
            </ul>
        </div>

        <div class="collectionHeader" id="playlists"></div>

        <table id="playlist" cellspacing="0">
            <tr id="row0">
                <th class="collNr">Nr</th>
                <th class="collTitle">Title</th>
                <th class="collArtist">Artist</th>
                <th class="collAlbum">Album</th>
                <th class="collGenre">Genre</th>
                <th class="collDownload">Download</th>
                <th class="collUp">Up</th>
                <th class="collDown">Down</th>
                <th class="collRm">Del</th>
            </tr>
        </table>

       <div class="collectionHeader" style="border-top: 1px solid #afafaf;">
            <ul>
                <li><a href="#" id="toggleCollection">Collection: </a></li>
                <li><a id="showArtists" href="#">Artists</a></li>
                <li><a id="showSearch" href="#">Advanced Search</a></li>
            </ul>
            <span id="simplesearch">
                <input type="text" id="simplesearchfield" name="simplesearch" value="type keyword and hit enter" 
                onclick="if(this.value == 'type keyword and hit enter')this.value='';" 
                onblur="if(this.value == '') this.value='type keyword and hit enter';" />
            </span>
        </div>

        <div class="collectionHeader" id="artistList">
            <ul>
                <li><a id="wholeColl" href="#">All</a></li>
                {% for i in letters %}
                        <li><a class="letters" href="#">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="searchForm">
            <form action="#" method="post">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Genre</th>
                        <th>Search</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="advSearchTitle" /></td>
                        <td><input type="text" id="advSearchArtist" /></td>
                        <td><input type="text" id="advSearchAlbum" /></td>
                        <td><input type="text" id="advSearchGenre" /></td>
                        <td><input type="button" value="search" id="advSearchSubmit" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="loading">Loading...</div>

        <table id="collection" cellspacing="0"></table>
{% endblock %}
