{% extends 'base.html' %}

{% block title %}LAudio - Settings{% endblock %}


{% block content %}
<div id="text">
    <h1>Setttings</h1>

    {% if msg %}
        <div id="settingsmsg" title="Information">
            <p>
                    {{ msg|safe}}<br />
            </p>
        </div>
        
        {% block jqery %}
            <script type="text/javascript">
                $(function() {
                    $("#settingsmsg").dialog({
                        bgiframe: true,
                        modal: true,
                        width: 600,
                        height: 400,
                        buttons: {
                            Ok: function() {
                                $(this).dialog('close');
                            }
                        }
                    });
                });
            </script>
        {% endblock %}

    {% endif %}
    
    <form class="settingsform" method="get" action=".">
        <table>
            <tr>
                <th>Path to Music Collection</th>
                <td><input value="{{collection}}" class="settingsinput" name="collection" type="text"/></td>
            </tr>
            <tr>
                <th>Completely Reset Music Collection</th>
                <td><input type="checkbox" name="drop" value="true" /></td>
            </tr>
            <tr>
                <th>Scan Music Collection</th>
                <td><input type="checkbox" name="scan" value="true" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="save" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
