{% extends 'base.html' %}

{% block title %}LAudio - Profile{% endblock %}

{% block nav_profile %}class="visible"{% endblock %}


{% block content %}
<div id="settings">
    <h1>Profile</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <fieldset>
            <legend>Profile</legend>
            <table>
                
                {% for field in userform %}
                <tr>
                    <th>
                        {{ field.label_tag }}
                        {% if field.field.required %}<sup class="required">*</sup>{% endif%}<br />
                        <span class="help_text">{{ field.help_text }}</span>
                    </th>
                    <td>{{ field }}</td>
                    {% if field.errors %}
                        <td class="errors">{{ field.errors }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                <tr>
                    <th>Password</th>
                    <td><input name="password" type="password" /></td>
                </tr>

                
                {% for field in profileform %}
                <tr>
                    <th>
                        {{ field.label_tag }}
                        {% if field.field.required %}<sup class="required">*</sup>{% endif%}<br />
                        <span class="help_text">{{ field.help_text }}</span>
                    </th>
                    <td>{{ field }}</td>
                    {% if field.errors %}
                        <td class="errors">{{ field.errors }}</td>
                    {% endif %}
                </tr>
                {% endfor %}

                <tr>
                    <th></th>
                    <td><input name="submit" class="submit" type="submit" value="save" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
{% endblock %}
